{% load staticfiles %}
<html>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		<style>
			html {
				background-image: #FFFFFF);
				font-family: 'Raleway', sans-serif;
			}

			#login {

			}
		</style>
	</head>
	<body>
		<div id="login">
			<form action="/login/" method="post">
				{% csrf_token %}
				User Name: <input name="username" type="text" id="username"><br/>
				Password:<input name="password" type="password" id="password"><br/>
				<button name="submit" type="submit" id="submit" name="submit">Login</button>
			</form>
		</div>
	</body>
	<footer>
	</footer>
</html>