{% load staticfiles %}
<html>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		<style>
			html {
				background-image: #FFFFFF);
				font-family: 'Raleway', sans-serif;
			}

			#register {

			}
		</style>
	</head>
	<body>
		<div id="register">
			<form action="/register/" method="post">
				{% csrf_token %}
				User Name: <input name="username" type="text" id="username" placeholder="Username" style="float:right"><br/>
				First Name:<input name="first_name" type="text" id="first_name" placeholder="First Name" style="float:right"><br/>
				Last Name:<input name="last_name" type="text" id="last_name" placeholder="Last Name" style="float:right"><br/>
				Email:<input name="email" type="text" id="email" placeholder="E-mail Address" style="float:right"><br/>
				Password:<input name="password" type="password" id="password" style="float:right"><br/>
				<button name="Submit" type="submit" id="submit" name="submit" value="register">Register</button>
			</form>
		</div>
	</body>
	<footer>
	</footer>
</html>